<div class="row" style="margin-top: 30px;">
  <div class="skill-box col-md-3">
    <%= link_to skill_path(skill) do %>
      <img class="img-card-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu9zJakhDkmS2mFuDpXXL-R5uPeskTrIkyFQ&usqp=CAU" >
    <% end %>
  </div>
  <div class="conghe_cepin col-md-3">

  </div>
</div>
