<div class="welcome-index col-md-12">

    <p class="welcome-head" style="margin-top: 30px;">
      过往作品：
  		<br>招聘网站： <a href="https://cryptic-falls-13215.herokuapp.com/">https://cryptic-falls-13215.herokuapp.com/</a>
      <br>招聘网站源代码： <a href="https://github.com/Zeesui/18K-Offer">https://github.com/Zeesui/18K-Offer</a>

      <br>购物网站源代码： <a href="https://github.com/Zeesui/JD_store">https://github.com/Zeesui/JD_store</a>
      <br>个人github:  <a href="https://github.com/Zeesui">https://github.com/Zeesui</a>
      <br>个人博客简书： <a href="https://www.jianshu.com/u/85ea98b93c26">https://www.jianshu.com/u/85ea98b93c26</a>
      <br>基于对showmebug现有架构的认识，这是我的一点点理解--><a href="https://www.jianshu.com/p/848cc189d3c8">https://www.jianshu.com/p/848cc189d3c8</a>
    </p>
    <div class="text-center">
      <img src="images/Ruby.png" >
    </div>

  
</div>
