<div class="col-md-12">
  <div class="group float-right">
    <%= link_to("建立个人页面", new_geren_yonghu_skill_path) %>
  </div>
  <ul class="list-group">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>
</div>
