/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


// skills index start
.skill-box, .conghe_cepin, .conghe_pinfen, .conghe_jilu {
   display: inline-block;
}

.skill-box {
  float: left;
}
.conghe-cepin {
  float: left;
  display: flex;
  align-items: flex-end;
}
.conghe-pinfen {
  float: right;
}
.conghe-jilu {
  float: left;
  margin-left: -50px;
}
.ping-ji-box {
  float: right;
}
.pin-ji-box-1 {
  float: right;

}

.skill-index {   //用户企业前台
  background-color: #CFD8DC;
}

.skill-show-box {
  background-color: #ECEFF1;
}
// skills index end

//jobs  index start
.job-box-1, .job-box-2 {
  display: inline-block;
}

.job-box-2 {
  float: right;
}

.job-box {
   background-color: #ECEFF1;
}

.job-index {  //个人用户前台
  background-color: #CFD8DC;
  padding-top: 20px;
  padding-bottom: 30px;
}

//jobs index end
